body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(138, 66, 66);

}
.watch {
    height: 340px;
    width: 340px;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
    border: 7px solid rgb(99, 15, 15);
    margin: auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    box-shadow: 5px 10px 30px black;
}
.watch {
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: bold;
}
.numbers>div {
    position: absolute;
}
.twelve, .six {
    margin-left: 50%;
    transform: translateX(-50%);
}
.twelve {
    top: 5px;
}
.six {
    bottom: 5px;
}
.three, .nine {
    margin-top: 50%;
    transform:translateY(-50%);
}
.three {
    right: 5px;
}
.nine {
    left: 5PX;
}
.one {
    top: 7%;
    right: 25%;
}
.two {
    top: 24%;
    right: 9%;
}
.four {
    top: 69%;
    right: 9%;
}
.five {
    top: 83%;
    right: 25%;
}
.seven {
    top: 83%;
    left: 25%;
}
.eight {
    top: 69%;
    left: 9%;
}
.ten {
    top: 24%;
    left: 9%;
}
.eleven {
    top: 7%;
    left: 25%;
}
.arrows {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrows div {
    width: 10px;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom center;
    border-radius: 50% 50% 0 0 ;
    box-shadow: 0px 0px 20px rgb(48, 48, 48);
    
}
.arrows::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(88, 88, 88);
    z-index: 3;
    box-shadow: 2px 2px 10px rgb(48, 48, 48);
}
.hour {
    height: 90px;
    background-color: rgb(255, 255, 255);
    transform: rotate(316deg);
}
.minute {
    height: 120px;
    background-color: rgb(66, 66, 66);
    transform: rotate(90deg);
}
.second {
    height: 140px;
    background-color: rgb(255, 117, 117);
    transform: rotate(120deg);
}