* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    overflow-x: hidden;
    width: 100%;
}
body {
    background-color: teal;
    overflow-x: hidden;
    width: 100%;
}
/* Header */
header {
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}
header>ul {
    list-style-type: none;
    display: flex;
    color: rgb(168, 168, 168);
    font-weight: bold;
}
header>ul>li>a {
    padding: 1vw;
    text-decoration: none;
    color: rgb(168, 168, 168);
}
header>ul>li>a:hover {
    color: aliceblue;
}
header>button {
    color: rgb(240, 240, 240);
    font-size: 18px;
    padding: 12px 30px;
    background-color: rgb(30, 128, 226);
    border-style: hidden;
    border-radius: 22px;
}
/* Secction-1 */
.section-1 {
    padding: 50px 100px;
    display: flex;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.section-1>div {
    width: 50%;
}
.section-1>div>h1 {
    padding: 50px 0px;
    font-size: 60px;
    color: white;
    font-weight: 600;
}
.section-1>div>h1>span {
    color: magenta;
    font-style: italic;
}
.section-1>div>p {
    color: rgb(136, 136, 136);
    font-size: 22px;
    padding-right: 25px;
    line-height: 30px;
    font-weight: 300;
}
.btn-header>button {
    color: rgb(224, 224, 224);
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 50px;
    background-color: black;
}
.btn-header>.btn-bg-blue {
    background-color: #168BFB;
    border-style: hidden;
    margin-right: 20px ;
}
.btn-bg-blue:hover {
    background-color: #168BFB;
    color: white;
}
.btn-hover-blue:hover {
    background-color: #168BFB;
}
/* Section-2 */
.section-2 {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(34, 34, 34);
}
.section-2>img {
    min-width: 150px;
    padding: 0px 20px;
}
/* Section-3 */
.section-3 {
    padding: 100px 100px 0px;
    text-align: center;
    margin: auto;
    background-color: #FFFFFF;
}
.section-3>h1 {
    font-size: 55px;
    max-width: 85vw;
    margin: auto;
}
.section-3>p {
    color: rgb(168, 168, 168);
    font-size: 22px;
    margin: auto;
    max-width: 500px;
}
.section-3>div {
    display: flex;
    justify-content: center;
}
.section-3>div>div {
    border: 2px solid rgb(194, 194, 194);
    margin: 125px 20px;
    border-radius: 35px;
    min-width: 220px;
    max-width: 300px;
}
.section-3>div>div>img {
    padding: 25px 0px;
}
.section-3>div>div>h1 {
    font-size: 26px;
    font-weight: 600;
    padding: 10px 20px;
}
.section-3>div>div>p {
    padding: 20px;
    color: rgb(97, 97, 97);
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}
.section-3>div>.up {
    position: relative;
    top: -50px;
    background-color: black;
    box-shadow: 0px 30px 30px 1px rgb(209, 209, 209);
    border-color: black;
}
.section-3>div>.up>h1 {
    color: white;
}
/* section-4 */
.section-4 {
    background-color: #ffffff;
    padding: 0px 10vw;
}
.section-4>h1 {
    font-size: 50px;
    padding: 0px 15vw 0px 1vw;
}
.section-4>div {
    display: flex;
    padding: 100px 0px;
}
.sec-4-div-1 {
    display: flex;
    flex-direction:column ;
}
.sec-4-div-1>a {
    padding: 32px 30px;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 26px;
    width: 43vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 60px;
}
.sec-4-div-1>a>span {
    border: 1px solid rgb(148, 148, 148);
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.sec-4-div-1>a:hover {
    background-color: #168BFB;
    color: white;
}
.sec-4-div-1>.a-bg-blue {
    background-color: #168BFB;
    color: white;
    border-style: 1px ;
}
.sec-4-div-1>.a-bg-blue>span {
    border: 1px solid rgb(255, 255, 255);
}
.sec-4-div-2>ul {
    list-style-type: none;
    margin: 0px 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 35px;
    width: 36vw;
    padding: 20px 10px;
}
.circle::before {
    content: '';
    position: absolute;
    left: 22px;
    top: 22px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
}
.sec-4-div-2>ul>li {
    width: 80%;
    color: white;
    font-size: 18px;
    margin: 10px 10px 0px;
    position: relative;
    padding: 22px 5px 22px 60px;
    background-color: rgb(43, 43, 43);
    border-radius: 30px;
}
/* Section-5 */
.section-5 {
    padding: 8vw;
    background-color: black;
}
.section-5>div {
    display: flex;
    justify-content: space-between;
}
.sec-5-div-1 {
    margin: 50px;
    position: relative;
    text-align: center;
}
.sec-5-div-1>h1 {
    font-size: 50px;
    color: white;
}
.sec-5-div-1>img {
    position: relative;
    top: 10vh;
}
.sec-5-div-2 {
    margin-top: 150px ;
    display: flex;
    flex-wrap: wrap;
}
.sec-5-div-2>div {
    max-width: 450px;
    min-width: 200px;
    width: 280px;
    margin: 3vw 1vw;
    padding: 3vw 2vw;
    background-color: white;
    border-radius: 2rem;
    /* position: relative; */
}
.sec-5-div-2>div>h2 {
    font-size: 2rem;
    font-weight: 700;
}
.sec-5-div-2>div>h1 {
    font-size: 60px;
    font-weight: 600;
    padding: 4vh 0px;
}
.sec-5-div-2>div>h1>span {
    font-size: 2rem;
    color: #727272;
}
.sec-5-div-2>div>p {
    font-weight: 600;
    color: #4d4d4d;
}
.sec-5-div-2>div>hr {
    color: rgb(212, 212, 212);
    margin: 4vh 0px;
    border-top: 1px solid rgb(212, 212, 212);
}
.sec-5-div-2>div>ul {
    list-style-type: none;
}
.margin-t-1 {
    margin-top: 40px;
}   
.sec-5-div-2>div>ul>li {
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.sec-5-div-2>div>ul>li>img {
    padding: 2vh;
}
.sec-5-div-2>div>button {
    background-color: #168BFB;
    color: white;
    width: 22vw;
    border: none;
    max-width: 95%;
    margin-left: auto;
    border-radius:30px;
    font-size: 1rem;
    font-weight: 600;
    padding: 3vh ;
    justify-items: center;
}
.sec-5-div-2>div>button:hover {
    background-color: #1f79ce;
}
.sec-5-div-2>div:nth-child(2) {
    background-color: #188efc;
    color: white;
}
.sec-5-div-2>div:nth-child(2)>p {
    color: white;
}
.sec-5-div-2>div:nth-child(2)>h1>span {
    color: #cacaca;
}
.sec-5-div-2>div:nth-child(2)>button {
    background-color: white;
    color:#1686f0;
}
.sec-5-div-2>div:nth-child(2)>button:hover {
    background-color:#f0f0f0;
    color:#108cff;
}
/* Section-6 */
.section-6 {
    padding: 10vw 0px 5vw 10vw;
    background-color: white;
}
.sec-6-div-1 {
    display: flex;
    padding: 0px 100px 5vw 0px;
    position: relative;
}
.sec-6-div-1>h1 {
    font-size: 3.5rem;
    width: 40vw;
}
.sec-6-div-1>p {
    position: absolute;
    width: 35vw;
    font-size: 20px;
    line-height: 30px;
    color: rgb(136, 136, 136);
    right: 100px;
    margin-top: 20px;
}
.sec-6-div-2 {
    width: 100vw;
    margin: 50px 50px 80px 0px;
    display: flex;
    color: #f8f8f8;
}
.sec-6-div-2>div {
    width: 50%;
    margin-right: 3vw;
    padding: 50px 30px;
    background-color: #000000;
    border-radius: 30px;
}
.name-card {
    padding: 40px 0px;
    line-height: 24px;
}
.name-card>span {
    font-weight: 500;
    font-size: 18px;
}
.comments {
    font-size: 1.65rem;
    line-height:2.4rem;
}
.sec-6-div-2>div>div>img {
    padding-right: 5px;
    padding-top: 25px;
}
.sec-6-div-2>.div-white {
    background-color: white;
    color: black;
    border: 1px solid rgb(190, 190, 190);
}
.card-scrollbar {
    height: 0.5rem;
    width: 100vw;
    background-color: rgb(190, 190, 190);
    bborder: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: left;
}
.card-scrollbar>span {
    height: 0.5rem;
    width: 10rem;
    background-color: #1686f0;
    border-radius: 5px;
}
/* Footer */
footer {
    padding: 100px 100px 0px 100px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
}
footer>h1 {
    font-size: 3rem;
    padding: 0px 100px;
    line-height: 4rem;
}
footer>form {
    margin: 10vh 1vw;
    background-color: #4d4d4d;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
}
footer>form>input {
    font-size: 1.3rem;
    border: none;
    padding: 1.2rem;
    background-color: #727272;
    border-radius: 2rem;
    color: #da4141;
}
footer>form>input:hover {
    background-color: #858585;
}
.sign-up {
    background-color: #1686f0;
    color: whitesmoke;
    padding: 0px 4vw;
}
.sign-up:hover {
    background-color: #1678d4;
}
footer>hr {
    color: rgb(139, 139, 139);
    margin: 0px 3vw;
    border-top: 1px solid rgb(139, 139, 139);
}
footer>div {
    padding: 5vw 3vw;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
footer>div>ul {
    list-style-type: none;
    padding: 0vw 5vw;
    line-height: 2rem;
    color: whitesmoke;
}
.ul-heading {
    font-size: 1.2rem;
    padding: 1rem 0px;
    color: rgb(235, 235, 235);
}
footer>p {
    text-align: left;
}
footer>p>img {
    padding: 3vw;
}
/* My Love Created */
.with-love-footer {
    text-align : center ;
    padding : 25px 0px ;
    color: white;
}
.with-love-footer a {
    color: white;
    font-weight: 600 ;
}
/* Media Query Strarted Here Media Query Strarted Here Media Query Strarted Here */
/* Media Query 800 */
@media (max-width:820px) {
    header {
        padding: 25px 70px;
    }
    header>ul>li>a {
        padding: 1vh;
    }
    header>button {
        font-size: 16px;
        padding: 12px 28px;
    }
    .section-1>div>h1 {
        font-size: 36px;
    }
    .btn-header>button {
        font-size: 16px;
        padding: 10px 25px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 30px;
        margin-top: 20px;
    }
    .section-2 {
        padding: 30px 50px;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .section-2>img {
        /* width: 40%; */
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
    }
    .section-3>div>div {
        margin: 125px 10px;
    }
    .section-4>h1 {
        font-size: 50px;
        padding: 0px;
    }
    .section-4>div {
        padding: 50px 0px;
    }
    .sec-4-div-1>a {
        padding: 15px 15px;
        font-size: 20px;
        margin-bottom: 26px;
        width: 34vw;
    }
    .sec-4-div-2>ul {
        margin: 0px 25px;
        width: 100%;
        padding: 20px 10px;
    }
    .sec-4-div-2>ul>li {
        margin: 10px 0px 0px;
    }
    .sec-6-div-1>h1 {
        font-size: 3rem;
    }
    .section-5 {
        padding: 4vw;
    }
    .sec-5-div-1>h1 {
        font-size: 40px;
        color: white;
    }
    .sec-5-div-1>img {
        height: 100px;
    }
    .sec-5-div-2 {
        margin-top: 100px ;
        display: flex;
        flex-wrap: nowrap;
    }
    .sec-5-div-2>div>h1 {
        font-size: 3.5rem;
        font-weight: 700;
    }
    .sec-5-div-2>div>h1>span {
        display: block;
        font-size: 1.5rem;
    }
    .margin-t-1 {
        margin-top: 60px;
    }   
    .sec-5-div-2>div>button {
        max-width: 95%;
        min-width: 95%;
    }
    footer {
        padding: 100px 20px 0px 20px;
    }
    footer>h1 {
        font-size: 2.5rem;
        padding: 0px 70px;
        line-height: 3rem;
    }
    footer>form {
        margin: 5vh 1vh;
        background-color: #4d4d4d;
        padding: 2rem;
        border-radius: 2rem;
        display: flex;
        justify-content: space-evenly;
    }
    footer>form>input {
        font-size: 1rem;
        padding: 0.8rem;
        margin: 4px
    }
}
/* Media Query 430 */
/* Media Query 430 */
/* Media Query 430 */
@media (max-width:430px) {
    /* Header */
    header {
        padding:25px;
        flex-wrap: wrap;
    }
    header>img {
        height: 38px;
    }
    header>ul {
        font-weight: bold;
        margin: 20px 0px ;
        order: 3;
    }
    header>ul>li>a {
        padding: 2vw;
        font-size: 12px;
    }
    header>ul>li>a:hover {
        color: rgb(86, 176, 255);
    }
    header>button {
        padding: 10px 20px;
    }
    .section-1 {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .section-1>.section-1-div-1 {
        order: 2;
    }
    .section-1>.section-1-div-2>img {
        height: 95vw;
        margin-left: 25px ;
    }
    .section-1>div {
        width: 100%;
    }
    .section-1>div>h1 {
        padding: 15px 0px;
        font-size: 35px;
        text-align: center;
    }
    .section-1>div>p {
        font-size: 18px;
        padding-right: 0px;
        text-align: center;
        line-height: 24px;
    }
    .btn-header {
        display: flex;
        justify-content: space-evenly;
    }
    .btn-header>button {
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
        border: 1px solid rgb(255, 255, 255);
        margin-top: 30px;
    }
    .btn-header>.btn-bg-blue {
        border-style: hidden;
    }
    .section-2 {
        padding: 10px 20px;
    }
    .section-2>img {
        min-width: 100px;
        padding: 10px 10px;
    }
    .section-3 {
        padding: 20px 20px 30px;
    }
    .section-3>h1 {
        font-size: 35px;
        max-width: 85vw;
        margin: auto;
    }
    .section-3>p {
        font-size: 18px;
        margin: 30px auto;
    }
    .section-3>div {
        display: block;
    }
    .section-3>div>div {
        border: 1px solid rgb(194, 194, 194);
        margin: 20px;
        border-radius: 35px;
        max-width: 90vw;
        box-shadow: 0px 30px 30px 1px rgb(209, 209, 209);
    }
    .section-3>div>div>img {
        padding: 15px 0px;
    }
    .section-3>div>div>h1 {
        font-size: 24px;
        padding: 5px 20px;
    }
    .section-3>div>div>p {
        padding: 15px 30px;
        font-size: 18px;
        line-height: 22px;
    }
    .section-3>div>.up {
        position: static;
        box-shadow: 0px 15px 15px 1px rgb(131, 131, 131);
    }
    .section-4 {
        padding: 0px 5vw;
    }
    .section-4>h1 {
        font-size: 30px;
        text-align: center;
        padding: 10px 1vw 0px 1vw;
    }
    .section-4>div {
        display: block;
        padding: 25px 0px;
    }
    .sec-4-div-1 {
        display: flex;
        flex-direction:column ;
    }
    .sec-4-div-1>a {
        padding: 15px 20px;
        font-size: 20px;
        margin: auto;
        margin-bottom: 10px;
        width: 80%;
    }
    .sec-4-div-2>ul {
        list-style-type: none;
        margin: auto;
        background-color: rgb(0, 0, 0);
        border-radius: 35px;
        width: 95%;
        padding: 10px 10px;
    }
    .circle::before {
        left: 12px;
        top: 12px;
        height: 16px;
        width: 16px;
    }
    .sec-4-div-2>ul>li {
        font-size: 16px;
        margin: auto;
        margin-bottom: 5px;
        padding: 12px 12px 12px 40px;
    }
    .section-5 {
        padding: 5vw;
    }
    .section-5>div {
        display: flex;
    }
    .sec-5-div-1 {
        margin: auto;
        position: relative;
        text-align: center;
    }
    .sec-5-div-1>h1 {
        font-size: 30px;
        color: white;
    }
    .sec-5-div-1>img {
        top: 15vw;
        height: 20vw;
    }
    .sec-5-div-2 {
        margin-top: 25px ;
        display: flex;
        flex-wrap: wrap;
    }
    .sec-5-div-2>div {
        text-align: center;
        width: auto;
        padding: 3vw 10vw;
        box-shadow: inset 0 0 20px #383838;
    }
    .sec-5-div-2>div>h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .sec-5-div-2>div>h1 {
        font-size: 45px;
        padding: 2vw 0px;
    }
    .sec-5-div-2>div>h1>span {
        font-size: 1.2rem;
        display: inline;
    }
    .sec-5-div-2>div>hr {
        margin: 4vw 0px;
    }
    .margin-t-1 {
        margin-top: 0px;
    }   
    .sec-5-div-2>div>ul>li>img {
        padding: 2vw;
    }
    .sec-5-div-2>div>button {
        width: 80%;
        padding: 3vw ;
    }
    .sec-5-div-2>div:nth-child(2) {
        box-shadow: inset 0 0 0px #383838;
    }
    .section-6 {
        padding: 5vw;
    }
    .sec-6-div-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 0px 2vw 5vw;
        position: relative;
    }
    .sec-6-div-1>h1 {
        font-size: 1.4rem;
        width: 100%;
        padding: 15px 10px 10px;
    }
    .sec-6-div-1>p {
        position:static ;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    .sec-6-div-2 {
        width: 100vw;
        margin: 10px;
        display: flex;
        color: #f8f8f8;
    }
    .sec-6-div-2>div {
        width: 50%;
        margin-right: 2vw;
        padding: 20px 10px;
    }
    .name-card {
        padding: 15px 5px;
    }
    .name-card>span {
        font-weight: 400;
        font-size: 16px;
    }
    .comments {
        font-size: 1rem;
        line-height:1.4rem;
    }
    .sec-6-div-2>div>div>img {
        padding-right: 5px;
        padding-top: 10px;
        height: 20px;
    }
    .card-scrollbar {
        height: 0.4rem;
    }
    .card-scrollbar>span {
        height: 0.4rem;
        width: 20vw;
    }
    footer {
        padding: 10px;
    }
    footer>h1 {
        font-size: 1.5rem;
        padding: 20px 10px;
        line-height: 1.8rem;
    }
    footer>form {
        margin: 5vw 1vw;
        padding: 1rem;
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer>form>input {
        font-size: 1rem;
        border: none;
        color: #f0f0f0;
        padding: 1rem;
        border-radius: 2rem;
        outline-offset: -4px;
    }
    .sign-up {
        padding: 15px 10px;
        width: 50%;
        margin: auto;
        margin-top: 10px;
    }
    footer>div {
        padding: 3vw 12vw;
        display: flex;
        flex-wrap: wrap;
    }
    footer>div>ul {
        padding: 0vw;
        line-height: 1.7rem;
        text-align: center;
        margin: auto;
        min-width: 38%;
    }
}