

.banner {
    background-image: url("../assets_PW/contact-hero.png");
    background-size: cover;
    background-position: 50%;
    height: 300px;
    display: flex;
    padding: 5vw 3vw ;
    /* align-items: baseline; */
}
.contact-heading {
    color: whitesmoke;
    font-size: 4rem;
}
.sec1-container {
    text-align: center;
    padding: 5vw 2vw;
}
.both-form-container {
    display: flex;
}
.form-1-2-container {
    margin: 5vw 2vw;
    box-shadow: 0px 5px 20px rgb(181, 181, 181);
    border-radius: 10px;
    min-height: 100vh;
    padding: 5vw 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
}
.desc-contact-card {
    color: rgb(57, 57, 57);
    margin: 4vw 0;
    width: 90%;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 90%;
}
form>input {
    width: 100%;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0px 5px 20px rgb(240, 240, 240);
    padding: 0 10px ;
    font-size: 18px;
}
::placeholder {
    color: gray;
}
.textarea {
    height: 150px;
    text-align: top;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}
.submit {
    border: none;
    background-color: #5a4bda;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    margin: auto;
    color: white;
    font-weight: 600;
    font-size: 18px;
}