* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(100, 7, 100);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0px 15vw ;
    padding: 3vw 0px;
}
.logo {
    height: 25px;
    margin-left: 5vw;
}
.menu_Div {
    display: flex;
    align-items: center;
    gap: 4vw;
}
.menu_List {
    list-style-type: none;
    display: flex;
    color: white;
    gap: 3vw;
    font-size: 1.1em;
    font-weight: 900;
}
.menu_Item {
    cursor: pointer;
}
.Shop_Btn {
    font-size: 1em;
    font-weight: 600;
    color: whitesmoke;
    padding: 15px 50px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.Shop_Btn:hover{
    background-color: #111;
}
/* Main */
main {
    margin: 0px 15vw;
}
.section-1 {
    /* margin: auto; */
    display: grid;
    grid-template-columns: 45% 55%;
}
.sec-1-img-div {
    position: relative;
}
.headphone_Img {
    width: 20em;
    position: absolute;
    top: -250px;
    right: 50px;
    transition-duration: 400ms;
}
.headphone_Img:hover {
    top: -100px;
    transform: scale(98%);
}
.sec-1-data-div {
    margin-left: 1vw;
    min-width: 55%;
    background-image:url(./Photos/onEar.png);
    background-repeat: no-repeat;
    background-size: 300px 70px;
    background-position-x: 50px;
}
.beats-3 {
    font-size: 4.5em;
    margin: 1.5em 0px 0.5em;
    animation-name: pulse;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes pulse {
    0% {
        color: white;
    }
    50% {
        color: rgb(63, 63, 63);
    }
    100% {
        color: white;
    }
}
.overview {
    font-size: 16px;
}
.sec-1-para {
    width: 80%;
    color: rgb(185, 185, 185);
    font-weight: 600;
    line-height: 2em;
    margin: 2vw 0px;
}
.sec-1-btn {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    cursor: pointer;
}
.sec-1-btn:hover {
    background-color: #111;
}
.add-to-bag {
    font-size: 12px;
    font-weight: 100;
    margin: 0px 10px;
}
.N399K {
    font-size: 1.3em;
    font-weight: 600;
}
/* Section-2 */
.section-2 {
    margin: 10vw 5vw;
    display: flex;
    justify-content: space-between;
    transition-duration: 300ms;
}
.section-2:hover{
    transform: scale(1.1);
}
.section-2>img {
    margin: auto;
    width: 75px;
    transition-duration: 300ms;
}
.section-2>img:hover{
    transform: scale(1.4);
}
/* SEction-3 */
.section-3 {
    background-image:url(./Icons/specsLogo.png);
    background-repeat: no-repeat;
    background-size: 180px auto;
    background-position: top center ;
    min-height: 70vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
.sec-3-data-div>div {
    padding: 1.5vh 0px;
}
.sec-3-data-div>div>img {
    height: 20px;
}
.sec-3-data-div>div>p {
    font-size: 14px;
    font-weight: 600;
}
.sec-3-info {
    font-size: 11px;
    font-weight: 600;
    color: grey;
}
.push_Me {
    position: relative;
    left: 1vw;
}
.sec-3-img-div {
    width: 45%;
}
.sec-3-img {
    width: 80%;
    animation-duration: 2000ms;
}
.sec-3-img:hover {
    animation-name: sec-3-anim;
    animation-iteration-count: infinite;
}
@keyframes sec-3-anim {
    0% { }
    50% {
        transform: rotate(45deg);
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1.5, 0, 0, 1.5, 0, 0);
    }
}
/* Section-4 */ 
.section-4 {
    background-image: url(./Icons/caseLogo.png) ;
    background-repeat: no-repeat;
    background-size: 180px auto;
    background-position: top center ;
    min-height: 70vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0vw;
}
.section-4>div {
    width: 35%;
    position: relative;
}
.sec-4-img-div>img {
    width: 250px;
    margin: 15vh 0px;
    animation-name: rotation_1;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes rotation_1 {
    0% {}
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.sec-4-img-div>img:hover {
    animation: none;
}
.sec-4-data-div>p {
   width: 200px;
   color: gray;
   line-height: 2em;
   padding: 2em 0px;
}
.sec-4-btn {
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
}
.sec-4-btn:hover {
    background-color: #111;
}
.sec-4-btn-img {
    height: 18px;
    margin-right: 10px;
}
/* Section-5 */
.sec-5-div-upper {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    transition: 700ms;
    padding: 5vh 20vh;
    gap: 5vw;
    margin: auto;
}
.sec-5-div-upper:hover {
    background-color: white;
    animation-duration: 500ms;
    color: black;
}
.sec-5-data-div {
}
.sec-5-img-div>img {
    height: 200px;
}
.sec-5-img-div>img:hover {
    animation-name: rotate_1;
    animation-duration: 2000ms;
}
@keyframes rotate_1 {
    0%{}
    50%{
        transform: rotate(45deg) scale(1.25);
    }
    100%{}
}
.sec-5-heading {
    font-size: 1.7em;

}
.sec-5-para {
    margin: 20px 0px;
    color: gray;
}
.sec-5-btn {
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    background-color: #111;
}
.sec-5-btn:hover {
    background-color: #333;
}
.sec-5-btn-img {
    height: 18px;
    margin-right: 10px;
}
/* section-6 */
.section-6 {
    background-image:url(./Icons/productLogo.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 15vh 0px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    align-items: center;justify-content: center;
    gap: 50px;
    row-gap: 80px;
    padding-top: 150px;
}
.sec-6-data-divs {
    width: 110px;
    height: 110px;
    position: relative;
}
.sec-6-data-divs::before{
    content: ' ';
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: -60px;
    left: -10px;
    background-color: #333;
    border-radius: 10px;
    z-index: -1;
}
.sec-6-data-divs:hover:before {
    background-color: #222;
    box-shadow: 0px 0px 20px 1px rgb(87, 0, 0);
}
.sec-6-lit-images {
    height: 100px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.sec-6-lit-images:hover {
    transform: scale(2.5) rotate(25deg) ;
    transition-duration: 500ms;
}
.sec-6-card-data {
    display: flex;
    justify-content: space-between;
}
.sec-6-card-data span {
    font-size: 0.9em;
    font-weight: 600;
    color: gray;
}
.sec-6-bag-btn {
    margin: auto 0px;
    background-color: #111;
    border: none;
    border-radius: 5px;
}
.sec-6-bag-btn:hover {
    background-color: #444;
}
.sec-6-bag-btn>img {
    height: 12px;
    margin: 5px;
}
/* Footer */
footer {
    padding: 15vh 15vw;
    display: grid;
    grid-template-columns: 25% 15% 15% 45%;
    gap: 2vw;
}
.footer-logo-twitter {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
}
.footer-logo>img {
    position: relative;
    left: 70%;
    height: 25px;
}
.twitter-logo>img {
    height: 25px;
}
.footer-both-ul {
    list-style-type: none;
    line-height: 4vh;
}
.footer-both-ul>li>a {
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-size: 1em;
    font-weight: 600;
}
.footer-both-ul>li>.first-li {
    font-size: 1.25em;
    color: white;
    font-weight: 900;
}
/* Fixed Arrow */
.arrow-to-top {
    position: fixed;
    height: 30px;
    right: 120px;
    bottom: 120px;
}
.arrow-to-top:hover {
    transform: scale(1.2);
}