@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins/Poppins-Light.ttf);
    src: url(./fonts/Poppins/Poppins-Bold.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    color: rgba(216, 216, 216, 0.842);
    font-size: 12px;
}
body {
    font-family: poppins;
    
}
/* Section-1 */
.section-1-with-header {
    /* background-color: rgba(0, 0, 0, 0.801); */
    background: url("./Project 3- Gaming Landing Page/Assets/Photos/futuristic-bg.png");
    background-color: rgba(0, 0, 0, 0.527);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom ;
    color: white;
    padding: 0px 8vw;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0px; 
}
.logo-ul {
    display: flex;
    gap: 6vw;
}
.top-logo {
    height: 45px;
}
.header-menu-list {
    display: flex;
    list-style-type: none;
    justify-content: baseline;
}
.menu-item {
    text-decoration: none;
    padding-left : 3vw;
}
.menu-icon-div {
    display: none;
}
.sign-in {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 600;
    padding: 12px 2em;
}
.sign-in:hover {
    background-color: rgba(153, 18, 18, 0.452);
}
.sign-up {
    background-color: #f3684c;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 12px 2em;
}
.sign-up:hover {
    background-color: #da3f20;
}
/* Section-1-div */
.section-1-div {
    display: flex;
    justify-content: space-between;
    padding: 6vw 0px;
}
.sec-1-left-div {
    width: fit-content;
}
.sec-1-heading {
    font-size: 44px;
    color: white;
    font-weight: 900;
}
.sec-1-para {
    padding: 2vw 0px;
    width: 40vw;
}
.sec-1-left-div>button {
    padding: 15px 30px;
    color: white;
    border: none;
    background-color: #f3684c;
    font-weight: 600;
    margin-right: 2em;
}
.sec-1-left-div>.learn-more {
    background: none;
    border:2px solid rgba(197, 197, 197, 0.733);
}
.sec-1-left-div>button:hover {
    background-color: #da3f20;
}
.sec-1-play-btn {
    margin: 6vw 10vw;
}
.sec-1-play-btn:hover {
    opacity: 0.7;
}
.king-of {
    display: flex;
    margin: 1vw 0px;
}
.sec-1-right-para {
    font-size: 2em;
}
.sec-1-dsh {
    margin-top: 0.5em;
    padding-right: 2vw;
}
.sec-1-right-arrow {
    display: flex;
    margin-left: 3vw;
    align-items: flex-end;
    padding-bottom: 0.5em;
}
/* Section-2 */
.section-2 {
    padding: 10vw 5vw;
}
.sec-2-heading {
    font-size: 35px;
    width: 600px;
    text-align: center;
    min-width: 340px;
    color: black;
    margin: 4vw auto;
}
.sec-2-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec-2-cards {
    height: 350px;
    display: flex;
    align-items: flex-end;
    width: 20vw;
}
 .sec-2-card-data {
    padding: 10px 15px;
    /* background-color: rgba(177, 177, 177, 0.466); */
    width: 100%;
    backdrop-filter: blur(20px);
    background-blend-mode: multiply;
 }
 .sec-2-card-data h5 {
    font-size: 1.3em;
    font-weight: 400;
    color: white;
 }
 .sec-2-card-data p {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .sec-2-card-button {
    padding: 10px 15px ;
    border: none;
    background-color: #f3684c;
    color: white;font-size: 16px;
    font-weight: 100;
 }
 .sec-2-card-button:hover {
    background-color: #eb5334;
 }
 .sec-2-card-1 {
    background: url("./Project 3- Gaming Landing Page/Assets/Photos/image 2.png");
    background-size: cover;
    background-position: 75%;
 }
 .sec-2-card-2 {
    background: url("./Project 3- Gaming Landing Page/Assets/Photos/image\ 4.png");
    background-size: cover;
    background-position: 50%;
 }
 .sec-2-card-3 {
    background: url("./Project 3- Gaming Landing Page/Assets/Photos/image 3.png");
    background-size: cover;
    background-position: 50%;
 }
 .sec-2-card-4 {
    background: url("./Project 3- Gaming Landing Page/Assets/Photos/Rectangle\ 56.png");
    background-size: cover;
    background-position: 50%;
 }
 /* Section-3 */
 .section-3 {
    display: flex;
    padding: 0px 5vw;
    gap: 2vw;
 }
 .section-3>div {
    width: 50%;
    margin: 2vw;
 }
 .sec-3-left-div {
    width: 500px;
    max-width: 500px;
    min-width: 330px;
    height: 380px;
    min-height: 280;
    background-image: url("./Project 3- Gaming Landing Page/Assets/Photos/Rectangle\ 57.png");
    background-size: cover;
    background-position: center;
 }
 .sec-3-right-div {
    align-self: center;
 }
 .sec-3-heading {
    font-size: 3em;
    font-weight: 900;
    color: black;
 }
 .sec-3-para {
    /* fon */
    color: rgb(116, 116, 116);
    font-weight: 100;
    width: 40vw;
    padding: 2vw 0px;
    line-height: 24px;
 }
 .sec-3-btn {
    padding: 15px 20px;
    background-color: #f3684c;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-right: 2.5em;
 }
 .sec-3-btn:hover {
    background-color: #eb5334;
 }
 .sec-3-learn-more {
    background-color: white;
    color: #f3684c;
    border: 1px solid #f3684c;
    padding: 14px 20px;
 }
 .sec-3-learn-more:hover {
    color: white;
 }
/* Section-4 */
.section-4 {
    /* display: flex; */
    padding: 5vw;
}
.sec-4-heading-div {
    display: flex;
    justify-content: space-between;
    margin: 3vw 0px;
    /* justify-items: center; */
}
.sec-4-heading {
    font-size: 40px;
    color: black;
    padding: 2vw;
}
.sec-4-arrow-div {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.sec-4-arrow {
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #f3684c;
}
.sec-4-left-Arrow {
    background-color:#ffd8d0;
}
 .sec-4-allCard img {
    width: 200px;
 }
 .sec-4-card-div {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5vw;
    column-gap: 2vw;
    padding: 0px 2vw;
 }
 .sec-4-allCard {
    display: flex;
    gap: 3em;
 }
.sec-4-card-data {
    align-self: center;
    width: 50%;
}
.sec-4-card-heading {
    font-size: 22px;
    color: black;
    font-weight: 100;
    margin: 0.5em 0px;
}
.sec-4-card-data a {
    color: #f7785e;
    text-decoration: none;
}
.sec-4-card-data a:hover {
    text-decoration: underline;
}
.sec-4-card-data p {
    color: rgb(121, 121, 121);
    font-weight: 100;
    padding: 1em 0px;
}
.sec-4-card-btn {
    padding: 15px 30px;
    background-color: #f3684c;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
.sec-4-card-btn:hover {
    background-color: #eb5334;
}
/* Section-5 */
.section-5 {
    text-align: center  ;
    margin-top: 1vw;
    background-color: black;
    padding: 3vw 0px 0vw 1vw;
}
.sec-5-heading {
    font-size: 40px;
    color: white;
    font-weight: 100;
}
.sec-5-lower-div {
    display: flex;
    gap: 4vw;
    padding: 2vw 7vw ;
    padding-bottom: 0px;
    background-image: url("./Project 3- Gaming Landing Page/Assets/Icons/GAMES\ OF\ THE\ WORLD.svg");
    background-repeat: no-repeat;
    background-size: 65vw ;
    background-position: 100% 33%;
}
.sec-5-lower-div>img {
    min-width: 330px;
    min-height: 390px;
    width: 360px;
    height: 420px;
}
.sec-5-lower-right {
    width: 45vw;
}
.sec-5-para {
    color: rgba(167, 167, 167, 0.822);
    text-align: left;
    font-weight: 100;
    margin: 5vw 0px;
}
.sec-5-both-images {
    display: flex;
    gap: 3vw;
    bottom: 0px;
}
.img-1-2 {
    width: 280px;
    height: 360px;
}
.img-22 {
    height: 250px;
    align-self: flex-end;
}
.sec-5-last-div {
    padding: 7vw 0px ;
    padding-bottom: 10vw;
    margin-top: 10vw;
    text-align: center;
    background-image: url("./Project 3- Gaming Landing Page/Assets/Photos/Rectangle\ 606.png");
    background-color: rgba(0, 0, 0, 0.699);
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}
.sec-5-last-heading {
    font-size: 40px;
    color: white;
    font-weight: 100;
}
.sec-5-last-div>p {
    margin: 1vw 0px;
    font-weight: 100;
    color: rgb(151, 151, 151);
}
.sec-3-btn {
/* previous button */
margin: 1vw 0px;
}
footer {
    display: flex;
    padding: 5vw 8vw;
    background-color: rgb(2, 2, 14);
}
.footer-logo {
    width: 24%;
}
.footer-ul-div {
    width: 75%;
    display: flex;
    justify-content: space-around;
}
.footer-logo-pic {
    height: 3.5em;
}
.footer-logo>p {
    color: rgb(126, 126, 126);
    line-height: 2em;
    margin: 1vw 0px;
    font-weight: 100;
}
.footer-logo>a {
    margin-right: 1vw;
}
.footer-logo>a>img:hover {
    background-color: #f7785e;
    border-radius: 50%;
}
.footer-all-ul {
    list-style-type: none;
    line-height: 3vw;
}
.footer-list-item {
    font-size: 14px;
    color: rgb(121, 121, 121);
    text-decoration: none;
}
.footer-list-item:hover {
    color: #d3d3d3;
}
.f-list-heading {
    font-weight: 100;
    font-size: 16px;
    color: #d3d3d3;
}
.f-list-heading:hover {
    color: #f7785e;
}
/* My Love Footer */
.with-love-footer {
    text-align : center ;
    padding : 20px 0px ;
    background-color: #000000;
}

/* Scaling All images */
img:hover, h1:hover, h2:hover {   /*div:hover*/
    transform: scale(1.04);
    transition-duration: 500ms;
}

/* Media query Started From Here -- Media query Started From Here -- Media query Started From Here -- */
/* Media for max-width:1030px) */
@media (max-width:1030px) {
    .section-1-with-header {
        padding: 0px 4vw;
    }
    .section-2 {
        padding: 8vw 1vw;
    }
    .sec-2-heading {
        font-size: 35px;
        margin: 3vw auto;
    }
    .sec-2-cards {
        height: 330px;
        width: 22vw;
    }
     .sec-2-card-data {
        padding: 8px 12px;
     }
     .sec-2-card-data h5 {
        font-size: 1.2em;
     }
     .sec-2-card-button {
        padding: 8px 12px ;
        font-size: 14px;
        font-weight: 600;
     }
     .section-3 {
        padding: 0px 3vw;
     }
     .section-3>div {
        margin: 1vw;
     }
     .sec-3-heading {
        font-size: 2.6em;
        font-weight: 900;
        color: black;
     }
     .sec-3-btn {
        margin-right: 1.5em;
     }
     .section-4 {
        /* display: flex; */
        padding: 3vw;
    }
    .sec-4-heading-div {
        margin: 3vw 2vw;
    }
    .sec-4-heading {
        font-size: 35px;
    }
     .sec-4-allCard img {
        width: 210px;
     }
     .sec-4-card-div {
        row-gap: 3vw;
        padding: 0px 2vw;
     }
     .sec-4-allCard {
        gap: 1em;
     }
    .sec-4-card-heading {
        font-size: 20px;
    }
    .sec-4-card-data p {
        padding: 0.9em 0px;
    }
    .sec-4-card-btn {
        padding: 12px 25px;
    }
    .section-5 {
        padding: 3vw 0px 0vw 1vw;
    }
    .sec-5-lower-div {
        gap: 2vw;
        padding: 2vw 4vw ;
        background-size: 63vw ;
        background-position: 100% 31%;
    }
    .sec-5-lower-div>img {
        width: 340px;
        height: 400px;
    }
    .sec-5-lower-right {
        width: 45vw;
    }
    .sec-5-both-images {
        gap: 2vw;
    }
    .img-1-2 {
        width: 280px;
        height: 350px;
    }
    .img-22 {
        height: 250px;
    }
    .sec-5-last-div {
        padding: 7vw 0px ;
        margin-top: 8vw;
    }
    
}
/* Media for max-width:1030px) */
@media (max-width:820px) {
    .sec-1-heading {
        font-size: 35px;
        color: white;
        font-weight: 900;
    }    
    .sec-4-allCard img {
        width: 180px;
     }
     .sec-4-allCard {
        display: flex;
        gap: 1em;
     }
    .sec-4-card-heading {
        font-size: 20px;
        font-weight: 600;
    }
    .sec-4-card-data p {
        padding: 0.8em 0px;
    }
    .sec-4-card-btn {
        padding: 10px 30px;
        font-size: 12px;
    }

    

    .section-5 {
        padding: 5vw 0px 0vw 0vw;
    }
    .sec-5-heading {
        font-size: 35px;
    }
    .sec-5-lower-div {
        gap: 2vw;
        padding: 2vw 3vw ;
        background-image: url("./Project 3- Gaming Landing Page/Assets/Icons/GAMES\ OF\ THE\ WORLD.svg");
        background-repeat: no-repeat;
        background-size: 60vw ;
        background-position: 100% 30%;
    }
    .sec-5-lower-div>img {
        min-width: 300px;
        min-height: 340px;
        width: 300px;
        height: 360px;
    }
    .sssec-5-para {
        color: rgba(167, 167, 167, 0.822);
        text-align: left;
        font-weight: 100;
        margin: 5vw 0px;
    }
    .sec-5-both-images {
        gap: 2vw;
    }
    .img-1-2 {
        width: 210px;
        height: 300px;
    }
    .img-22 {
        height: 250px;
    }
    
}
/* Media query for max-width:430px */
@media (max-width:430px) {
    .section-1-with-header {
        background-position-x: center;
        background-position-y: bottom ;
        padding: 0px 4vw;
    }
    /* Header */
    .logo-ul {
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }
    .top-logo {
        height: 35px;
    }
    
    .header-menu-list {
        display: block;
        width: 100vw;
        position: absolute;
        z-index: 3;
        left: 0px;
        top: -300px;
        text-align: center;
        background-color: #eb5334;
        animation-name: clickShow_menu_1;
        animation-duration: 700ms;
        animation-iteration-count: 1;
        animation-direction: reverse;
        animation-timing-function: linear;
    }
    @keyframes clickShow_menu_1 {
        from {top:-300px;}
        to {top:50px;}
      }
    .clickShow {
        left: 0px;
        animation-name: clickShow_menu;
        animation-duration: 700ms;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-timing-function: linear;
        top: 55px;
    }
    @keyframes clickShow_menu {
        from {top:-300px;}
        to {top:50px;}
      }
    .menu-item {
        font-size: 20px;
        display: block;
        padding: 20px;
    }
    .menu-item:hover {
        background-color: #da3f20;
    }
    .menu-icon-div {
        text-align: center;
        display:inline-block;
    }
    .menu-icon {
        margin: 10px;
    }
    .header-btn-both {
        display: flex;
    }
    .sign-in, .sign-up {
        padding: 6px 1em;
    }
    .section-1-div {
        flex-wrap: wrap;
        padding: 4vw 0px;
    }
    .sec-1-left-div {
        order: 3;
        width: 95%;
        margin: auto;
    }
    .sec-1-right-div {
        order: 2;
        width: 95%;
        text-align: center;
    }
    .sec-1-heading {
        font-size: 25px;
    }
    .sec-1-para {
        padding: 2vw 0px;
        width: 90vw;
    }
    .sec-1-left-div>button {
        padding: 10px 25px;
        margin-bottom: 5vw;
    }
    .sec-1-play-btn {
        margin: 6vw 0px;
    }
    .king-of {
        display: flex;
    }
    .sec-1-right-para {
        margin: auto;
        font-size: 1.5em;
    }
    .section-2 {
        padding: 10vw 5vw;
    }
    .sec-2-heading {
        font-size: 22px;
        width: 95vw;        
    }
    .sec-2-cards {
        height: 330px;
        width: 80vw;
        margin: 5vw auto;
        box-shadow: 10px 10px 10px 1px black;
    }
    .section-3 {
        display: flex;
        flex-wrap: wrap;
        padding: 5vw 5vw;
        background-color: #ec6247;
     }
     .section-3>div {
        width: 95%;
        margin: 2vw;
     }
     .sec-3-left-div {
        width: 90vw;
        min-width: 300px;
        height: 350px;
        padding-top: 5vw;
        box-shadow: 10px 10px 10px 1px black;
     }
     .sec-3-heading {
        font-size: 2em;
     }
     .sec-3-para {
        color: #d3d3d3;
        width: 85vw;
        line-height: 20px;
     }
     .sec-3-btn {
        padding: 10px 15px;
        background-color: #e78673;
        margin-right: 1em;
     }
     .sec-3-learn-more {
        background-color: white;
        color: #f3684c;
        padding: 10px 15px;
     }
     .section-4 {
        padding: 5vw 4vw 10vw;
    }
    .sec-4-heading-div {
        width: 90%;
        text-align: center;
        flex-wrap: wrap;
    }
    .sec-4-heading {
        font-size: 22px;
    }
    .sec-4-arrow-div {
        display: flex;
        margin: auto;
        gap: 30vw;
    }
    .sec-4-arrow {
        height: 25px;
        width: 40px;
    }
     .sec-4-allCard img {
        width: 80vw;
        margin: 10px auto 0px;
        box-shadow: 10px 10px 20px 5px black;
     }
     .sec-4-card-div {
        display: flex;
        flex-wrap: wrap;
     }
     .sec-4-allCard {
        display: flex;
        flex-wrap: wrap;
     }
    .sec-4-card-data {
        text-align: center;
        width: 100%;
    }
    .sec-4-card-heading {
        font-size: 20px;
        color: #272727;
        margin: 0.5em 0px;
    }
    .sec-4-card-data p {
        padding: 0.7em 0px;
        width: 75vw;
        margin: auto;
    }
    .sec-4-card-btn {
        padding: 12px 25px;
    }
    .section-5 {
        text-align: center  ;
        margin: 0vw auto;
        padding: 3vw 0px 5vw 1vw;
    }
    .sec-5-heading {
        font-size: 30px;
        text-align: center;
    }
    .sec-5-lower-div {
        display: block;
        padding: 2vw 4vw ;
        padding-bottom: 10px;
        background-size: 65vw ;
        background-position: 100% 55%;
    }
    .sec-5-lower-div>img {
        margin: auto;
        min-width: 200px;
        min-height: 300px;
        width: 70vw;
        height: 90vw;
        box-shadow: 0px 5px 15px 1px rgb(221, 221, 221);
    }
    .sec-5-lower-right {
        text-align: center;
        width: 90vw;
    }
    .sec-5-para {
        text-align: center;
        margin-bottom: 10vw;
    }
    .sec-5-both-images {
        flex-wrap: wrap;
        gap: 10vw;
    }
    .img-1-2 {
        width: 300px;
        height: 320px;
        margin: auto;
        box-shadow: 0px 7px 10px 1px rgb(221, 221, 221);
    }
    .img-22 {
        height: 250px;
    }
    .sec-5-last-div {
        padding: 2vw 0px ;
        padding-bottom: 5vw;
        margin-top: 15vw;
    }
    .sec-5-last-heading {
        font-size: 22px;
        line-height: 24px;
    }
    .sec-5-last-div>p {
        margin: 1vw 0px;
        font-weight: 100;
        color: rgb(151, 151, 151);
    }
    .sec-5-last-div>button {
        padding: 8px 20px;
        font-size: 12px;
    }




    footer {
        display: flex;
        flex-wrap: wrap;
        padding: 5vw 5vw;
        background-color: rgb(2, 2, 14);
    }
    .footer-logo {
        width: 100%;
        display: flex;
        text-align: center;
        margin-bottom: 5vw;
    }
    .footer-ul-div {
        width: 100%;
        display: flex;
    }
    .footer-logo-pic {
        height: 2.5em;
    }
    .footer-logo>p {
        line-height: 1.3em;
        font-size: 10px;
        margin: 1vw 10px;
    }
    .footer-logo>a>img {
        height: 20px;
    }
    .footer-all-ul {
        line-height: 5vw;
        list-style-type: disc;
        padding-left: 10px;
    }
    .footer-all-ul::first-letter {
        list-style-type: none;
    }
    .footer-list-item {
        font-size: 10px;
    }
    .f-list-heading {
        font-size: 14px;
        text-decoration: none;
    }
}