@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
    /* src: url(./fonts/Poppins/Poppins-Light.ttf); */
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: poppins;
}
.section-1-with-header {
    background-image: url("./Project 3- Gaming Landing Page/Assets/Photos/futuristic-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}